@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&family=Poiret+One&display=swap');

:root {
  --primary-white: white;
  --primary-gray: lightgray;
  --primary-orange: #d88758;
  --primary-dark: rgba(255,255,255, 0);
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: bolder !important;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .1em;
  font-family: 'Poiret One', cursive !important;
}

/************ NAV ************/

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;

}

.navbar-brand {
  color: var(--primary-gray) !important;
  padding: 0.125rem;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li a.active, .navbar-nav > li > a:active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}
/********** ABOUT **********/

.selfie {
  height: 15%;
  width: 15%;
  border-radius: 1%;
}

